! DarkViolet + DarkGrey
*color0:  #0a081f
*color8:  #7487a4
! Orange
*color1:  #F69E60
*color9:  #F69E60
! IceBlue
*color2:  #00FFFF
*color10: #00FFFF
! Violet
*color3:  #3F45CB
*color11: #3F45CB
! DarkBlue
*color4:  #1964E3
*color12: #1964E3
! Pink
*color5:  #E146BD
*color13: #E146BD
! LightBlue
*color6:  #1C93F1
*color14: #1C93F1
! LightGrey
*color7:  #a6c2eb
*color15: #a6c2eb
